{% load static %}
{% block content %}

    <section class="section section-sm section-last bg-default bg-gray-4">
        <div class="container text-center">
            <h3 class="heading-2 oh font-weight-normal">¿Qué áreas de competencias se pondrán a prueba?</h3>
            <!-- Owl Carousel-->
            <div class="owl-carousel owl-modern" data-items="1" data-stage-padding="15" data-margin="30"
                 data-dots="true"
                 data-animation-in="fadeIn" data-animation-out="fadeOut" data-autoplay="true">
                <!-- Quote Lisa-->
                <article class="quote-lisa">
                    <div class="quote-lisa-body">
                        <div class="quote-lisa-text">
                            <h5 class="quote-lisa-cite">Alfabetización digital, información y datos</h5>
                        </div>
                        <p class="q">Se trabajará en la búsqueda, almacenamiento y organización de información digital,
                            desarrollando habilidades para identificar fuentes confiables y gestionar contenidos de
                            forma crítica y eficiente, utilizando herramientas digitales básicas y avanzadas según las
                            necesidades.</p>
                    </div>
                </article>
                <!-- Quote Lisa-->
                <article class="quote-lisa">
                    <div class="quote-lisa-body">
                        <div class="quote-lisa-text">
                            <h5 class="quote-lisa-cite">Comunicación y colaboración digital</h5>
                        </div>
                        <p class="q">Esta evaluación tiene como objetivo analizar la capacidad del estudiante para
                            interactuar de manera efectiva y responsable en entornos digitales. .</p>
                    </div>
                </article>
                <!-- Quote Lisa-->
                <article class="quote-lisa">
                    <div class="quote-lisa-body">
                        <div class="quote-lisa-text">
                            <h5 class="quote-lisa-cite">Creación de contenido digital </h5>
                        </div>
                        <p class="q">Se valorará su habilidad para modificar, mejorar y crear información digital de
                            manera
                            original, así como su conocimiento sobre derechos de autor, licencias y atribución de
                            fuentes en
                            el entorno digital.</p>
                    </div>
                </article>
                <!-- Quote Lisa-->
                <article class="quote-lisa">
                    <div class="quote-lisa-body">
                        <div class="quote-lisa-text">
                            <h5 class="quote-lisa-cite">Uso responsable de la tecnología digital</h5>
                        </div>
                        <p class="q">Esta evaluación tiene como objetivo medir la capacidad del estudiante para utilizar
                            las
                            tecnologías digitales de manera segura, ética y consciente.</p>
                    </div>
                </article>
                <!-- Quote Lisa-->
                <article class="quote-lisa">
                    <div class="quote-lisa-body">
                        <div class="quote-lisa-text">
                            <h5 class="quote-lisa-cite">Solución de problemas digitales</h5>
                        </div>
                        <p class="q">Se busca analizar la capacidad del estudiante para identificar y resolver problemas
                            tecnológicos en entornos digitales.</p>
                    </div>
                </article>
            </div>
        </div>
    </section>
{% endblock %}