{% load static %}
<section class="section section-sm section-first text-md-left bg-gray-4">
    <div class="container px-5 py-4">
        <div class="row row-50 align-items-center justify-content-center justify-content-xl-between">

            <div class="col-lg-6">
                <div class="container">
                    <h3 class="text-uppercase text-center">¿ Qué competencias vamos a evaluar ? </h3>
                    <p class="mt-4 text-justify">Estas competencias están compuestas por subcompetencias. Los invitamos
                        a recorrer cada uno de los itinerarios con recursos, actividades y evaluaciones para poder
                        acreditar el NIVEL BÁSICO (A1, A2) e INTERMEDIO (B1, B2) </p>
                    <p class="mt-4 text-justify">La <strong>Universidad Nacional de Cuyo</strong> ha comenzado a
                        implementar un sistema
                        de credenciales digitales verificables, como parte de su compromiso con la innovación educativa
                        y la mejora continua en la formación de competencias. Estas credenciales, conocidas como
                        <strong>Open Badges</strong>
                        , son una forma moderna y segura de acreditar lo que sabés hacer.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 text-center wow fadeInUp"><img
                    src="{% static 'images/UNCUYO-INSIGNIA-DigComp_Macro.png' %}" alt="" width="450" height="300" />
            </div>
        </div>
    </div>
</section>