{% load static %}
<section class="section section-sm">
    <div class="container">
        <h3 class="text-uppercase text-center">El camino a recorrer</h3>
        <div class="row row-30">
            <div class="col-sm-6 col-lg-4">
                <article class="box-icon-classic h-100">
                    <div class="unit box-icon-classic-body flex-column text-center">
                        <!-- Contenedor flex que centra todo -->
                        <div class="d-flex justify-content-center">
                            <div class="w-75">
                                <img src="{% static 'images/autodiagnostico.png' %}" alt="Autodiagnóstico"
                                    class="img-fluid">
                            </div>
                        </div>
                        <div class="h-100">
                            <h5 class="text-uppercase box-icon-classic-title">Autodiagnóstico</h5>
                            <p class="box-icon-classic-text mx-2">
                                Identifica tus fortalezas y debilidades en relación con tus competencias digitales.
                            </p>
                        </div>
                    </div>
                </article>

            </div>
            <div class="col-sm-6 col-lg-4">
                <article class="box-icon-classic h-100">
                    <div class="unit box-icon-classic-body flex-column text-center">
                        <!-- Contenedor flex que centra todo -->
                        <div class="d-flex justify-content-center">
                            <div class="w-75">
                                <img src="{% static 'images/autodiagnostico.png' %}" alt="Autodiagnóstico"
                                    class="img-fluid">
                            </div>
                        </div>
                        <div class="h-100">
                            <h5 class="text-uppercase box-icon-classic-title">Evaluación</h5>
                            <p class="box-icon-classic-text mx-2">
                                Valida tus conocimientos.
                            </p>
                        </div>
                    </div>
                </article>
            </div>

            <div class="col-sm-6 col-lg-4">
                <article class="box-icon-classic h-100">
                    <div class="unit box-icon-classic-body flex-column text-center">
                        <!-- Contenedor flex que centra todo -->
                        <div class="d-flex justify-content-center">
                            <div class="w-75">
                                <img src="{% static 'images/UNCUYO-INSIGNIA-DigComp_Macro.png' %}" alt="Autodiagnóstico"
                                    class="img-fluid">
                            </div>
                        </div>
                        <div class="h-100">
                            <h5 class="text-uppercase box-icon-classic-title">Credencial</h5>
                            <p class="box-icon-classic-text mx-2">
                                Obten tu acreditación criterios internacionales.
                            </p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>

</section>
