{% load static %}
<section class="section text-center" id="self_assessment">
    <div class="parallax-container" data-parallax-img="{% static 'images/slider-4-slide-1-1920x678.jpg' %}">
        <div class="parallax-content section-xl section-inset-custom-1 context-dark bg-overlay-2-21">
            <div class="container mt-4">
                <h2 class="heading-2 oh font-weight-normal wow slideInDown"><span
                        class="d-block font-weight-semi-bold">¿Listo para descubrir tu nivel digital?</span></h2>
                <p class="text-width-medium text-spacing-75 wow fadeInLeft" data-wow-delay=".1s">
                    Realizá nuestro autodiagnóstico interactivo y conocé tus fortalezas en competencias digitales. <br>
                    Evaluaremos tus habilidades en cinco áreas clave. <strong>¡Solo te llevará 10 minutos!</strong>
                </p>
                {% if user.is_authenticated %}
                <a class="button btn-white text-decoration-none"
                    href="{% url 'estudiantes' %}">Empezar</a>
                {% else %}
                <p class="text-width-medium text-spacing-75 wow fadeInLeft" data-wow-delay=".1s">
                    Para acceder a esta función, inicia sesión.
                </p>
                <a class="button btn-white text-decoration-none"
                    href="{% url 'login' %}?next={% url 'estudiantes' %}">Iniciar sesión</a>
                {% endif %}
            </div>
        </div>
    </div>
</section>