{% load static %}
<section class="section section-sm section-first bg-default text-md-left">
    <div class="container p-5">
        <div class="row row-50 align-items-center justify-content-center justify-content-xl-between">
            
            <div class="col-lg-6">
                <div class="container">
                    <h3 class="text-uppercase">¡Bienvenidos!</h3>
                    <p class="mt-4 text-justify">
                        En un mundo digital, contar con competencias tecnológicas es esencial para estudiar, comunicarte
                        y participar activamente en la vida universitaria.
                    </p>
                    <p class="mt-4 text-justify">
                        Por eso, desde la Universidad Nacional de Cuyo impulsamos este itinerario formativo y de
                        evaluación por competencias, basado en el <strong>Marco Europeo de Competencia Digital para la
                            Ciudadanía (DIGCOMP)</strong>, que permite diagnosticar, desarrollar y acreditar
                        progresivamente tus
                        competencias digitales en diferentes niveles, con base en un enfoque estructurado y
                        reconocido internacionalmente.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 text-center wow fadeInUp"><img src="{% static 'images/estudiantes.jpg' %}" alt=""
                    width="500" height="400" />
            </div>
        </div>
    </div>
</section>