:root {
    --main-color: #0788C6;
    --second-color: #2659C7;
    --thirt-color: #ffffff;
    --fourty-color: #151515;
}

body {
    font-family: Montserrat, sans-serif, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.9;
    font-weight: 400;
    letter-spacing: normal;
    color: #151515;
    background-color: #fff;
}

/*Nav */

.logo-uncuyo {
    height: 50px;
    width: auto;
}

.dark-link {
    color: var(--fourty-color) !important;
}

.dark-link:hover,
.dark-link:focus {
    color: var(--main-color) !important;
}

.dark-link:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
}

/*Services*/
ul {
    list-style: none;
    padding: 0;
    margin: 0
}

ul li {
    display: block
}

p {
    margin: 0
}


[class*=heading-],
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    letter-spacing: normal;
    color: #151515
}

[class*=heading-] a,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit
}

h2 {
    font-size: 32px;
    line-height: 1.2
}

h2,
.heading-2 {
    font-size: 32px;
    line-height: 1.2;
}

h3 {
    font-size: 28px;
    line-height: 1.2
}

h5 {
    font-size: 21px;
    line-height: 1.2;
    font-weight: 500
}

h6 {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 500
}



a {
    transition: all .3s ease-in-out
}

a,
a:active,
a:focus,
a:hover {
    text-decoration: none
}

a,
a:active,
a:focus {
    color: var(--main-color);
}

.button {
    position: relative;
    overflow: hidden;
    display: inline-block;
    min-width: 200px;
    padding: 17px 33px 15px;
    font-size: 16px;
    line-height: 1.34;
    border: 2px solid;
    font-weight: 500;
    letter-spacing: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    user-select: none;
    transition: 250ms all ease-in-out
}

.button-default-outline,
.button-default-outline:focus {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}

.oh {
    position: relative;
    overflow: hidden;
}

.font-weight-light {
    font-weight: 300
}

*+.button {
    margin-top: 30px
}

.section-md {
    padding: 60px 0
}

.context-dark,
.context-dark [class*=heading-],
.context-dark h1,
.context-dark h2,
.context-dark h3,
.context-dark h4,
.context-dark h5,
.context-dark h6 {
    color: #fff
}

.context-dark,
.context-dark [class*=heading-] {
    color: #fff
}

.context-dark .rights {
    color: #fff
}

.context-dark .rights a,
.context-dark .rights a:active,
.context-dark .rights a:focus {
    color: inherit
}

/*Animate.css*/
.animated {
    -webkit-animation-duration: .7s;
    animation-duration: .7s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    opacity: 1;
}


html:not(.lt-ie10) .not-animated {
    opacity: 0;
}


@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 40px, 0);
        transform: translate3d(0, 40px, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -40px, 0);
        transform: translate3d(0, -40px, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-40px, 0, 0);
        transform: translate3d(-40px, 0, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInLeft {
    animation-name: fadeInLeft
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(40px, 0, 0);
        transform: translate3d(40px, 0, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

@keyframes slideInUp {
    0% {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInDown {
    0% {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.slideInUp {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp
}

/* Swiper slider */
.swiper-container {
    display: flex;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    height: auto;
    width: 100%;
    flex-shrink: 0;
    z-index: 1;
}

.swiper-container-vertical>.swiper-wrapper {
    flex-direction: column;
}

.swiper-wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    align-self: stretch;
    align-items: stretch;
    width: 100%;
    height: auto;
    min-height: inherit;
    transition-property: transform;
    box-sizing: content-box;
    transform: translate3d(0, 0, 0);
}


.swiper-pagination {
    position: absolute;
    display: block;
    text-align: center;
    transform: translate3d(0, 0, 0);
    transition: .3s;
    z-index: 10;
}

.swiper-pagination-bullet {
    text-align: center;
    display: inline-block;
    position: relative;
    width: 14px;
    height: 14px;
    border: none;
    border-radius: 0;
    outline: none;
    transition: .2s;
    background: #2659C7;
}

.swiper-pagination-bullet:hover,
.swiper-pagination-bullet:focus {
    background: #2659C7;
}

.swiper-pagination-bullet-active {
    background: #2659C7;
}

.swiper-pagination-style-2 .swiper-pagination {
    font-size: 0;
    line-height: 0;
}

/*boton chico slider*/
.swiper-pagination-style-2 .swiper-pagination-bullet {
    background: #E7EDFA;
}

.swiper-pagination-style-2 .swiper-pagination-bullet::before,
.swiper-pagination-style-2 .swiper-pagination-bullet::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.swiper-pagination-style-2 .swiper-pagination-bullet::before {
    background: rgba(80, 186, 135, 0.6);
    transition: transform 0.3s ease, opacity 0.3s ease, background-color 0.3s ease;
}

.swiper-pagination-style-2 .swiper-pagination-bullet::after {
    opacity: 0;
    background: #01b3a7;
    transform: translateY(-200%);
    transition: transform 0.3s ease, opacity 0.3s ease, visibility 0s 0.3s;
}

.swiper-pagination-style-2 .swiper-pagination-bullet:hover,
.swiper-pagination-style-2 .swiper-pagination-bullet:focus {
    background: transparent;
}


.swiper-pagination-style-2 .swiper-pagination-bullet-active {
    background: transparent;
}

.swiper-pagination-style-2 .swiper-pagination-bullet-active::after {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.swiper-pagination-style-2 .swiper-pagination-bullet-active::before {
    opacity: 0;
    visibility: hidden;
    transform: translateY(200%);
}

.swiper-pagination-black .swiper-pagination-bullet {
    background: rgba(0, 0, 0, 0.6);
}

.swiper-pagination-black .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: black;
}

.swiper-container-vertical>.swiper-pagination {
    top: 50%;
    right: 10px;
    transform: translate3d(0px, -50%, 0);
}

.swiper-container-vertical>.swiper-pagination .swiper-pagination-bullet {
    margin: 8px 0;
    display: block;
}

.swiper-container-vertical.swiper-pagination-style-2 .swiper-pagination-bullet::after {
    transform: translate3d(-200%, 0, 0);
}

.swiper-container-vertical.swiper-pagination-style-2 .swiper-pagination-bullet-active::before {
    transform: translate3d(200%, 0, 0);
}

.swiper-container-vertical.swiper-pagination-style-2 .swiper-pagination-bullet-active::after {
    transform: translate3d(0%, 0, 0);
}

.swiper-container-horizontal>.swiper-pagination {
    bottom: 30px;
    left: 0;
    width: 100%;
}

.swiper-container-horizontal>.swiper-pagination .swiper-pagination-bullet {
    margin: 0 10px;
}

.swiper-slide {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    background-position: 50% 50%;
}

.swiper-slide-caption {
    width: 100%;
    white-space: normal;
}

@media (max-width: 767.98px) {
    .swiper-slide-caption {
        padding-bottom: 80px;
    }
}

.swiper-slider-classic {
    max-height: 38.54167vw;
    min-height: calc(100vh - 56px);
}

.swiper-slider-classic.swiper-container-horizontal {
    max-height: none;
}

@media (max-height: 420px) {
    .swiper-slider-classic {
        min-height: 260px;
    }

    .swiper-slider-classic p {
        display: none;
    }
}

.swiper-slider-classic .swiper-pagination-bullet {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 29px;
    height: 19px;
    border-radius: 0;
    background: transparent;
}

.swiper-slider-classic .swiper-pagination-bullet::before,
.swiper-slider-classic .swiper-pagination-bullet::after {
    position: absolute;
    display: inline-block;
    content: '';
    top: 8px;
    left: 0;
    height: 3px;
    width: 29px;
    transition: none;
    opacity: 1;
}

.swiper-slider-classic .swiper-pagination-bullet::before {
    background: #ffffff;
}

@media (min-width: 1600px) {
    .swiper-slider-classic .swiper-pagination-bullet::before {
        background: #252525;
    }
}

.swiper-slider-classic .swiper-pagination-bullet::after {
    transform: translateX(-100%);
    animation: pagOutX .3s;
    background: #50ba87;
}

.swiper-slider-classic .swiper-pagination-bullet:hover,
.swiper-slider-classic .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: transparent;
}

.swiper-slider-classic .swiper-pagination-bullet:hover::after,
.swiper-slider-classic .swiper-pagination-bullet.swiper-pagination-bullet-active::after {
    animation: pagInX .3s forwards;
}

.swiper-slider-classic .swiper-pagination {
    position: static;
    transform: none;
}

.swiper-slider-classic .swiper-pagination .swiper-pagination-bullet {
    margin: 0 16px;
}

.swiper-slider-classic h1 {
    letter-spacing: .05em;
}

.swiper-slider-classic *+p {
    margin-top: 14px;
}

.swiper-slider-classic *+.button {
    margin-top: 25px;
}

.swiper-slider-classic .swiper-slide-1 {
    background-position-x: 40%;
}

@media (min-width: 768px) {
    .swiper-slider-classic {
        min-height: 460px;
    }

    .swiper-slider-classic.swiper-container-vertical .swiper-pagination-bullet {
        display: block;
    }

    .swiper-slider-classic.swiper-container-vertical .swiper-pagination .swiper-pagination-bullet {
        margin: 0;
    }

    .swiper-slider-classic.swiper-container-vertical .swiper-pagination__module {
        top: 50%;
        right: 20px;
        bottom: auto;
        left: auto;
        max-width: 29px;
        transform: translateY(-50%);
    }

    .swiper-slider-classic .swiper-slide-caption {
        padding-left: 70px;
        padding-right: 70px;
    }

    .swiper-slider-classic .swiper-slide-1 {
        background-position-x: 50%;
    }

    .swiper-slider-classic .swiper-slide-custom {
        padding-left: 0;
    }

    .swiper-slider-classic h1 {
        font-size: 60px;
    }
}

@media (min-width: 992px) {
    .swiper-slider-classic .swiper-slide-custom {
        padding-left: 70px;
    }

    .swiper-slider-classic h1 {
        font-size: 80px;
    }
}

@media (min-width: 1200px) {
    .swiper-slider-classic.swiper-container-horizontal {
        min-height: 38.54167vw;
    }

    .swiper-slider-classic h1 {
        font-size: 100px;
    }
}

@media (min-width: 1600px) {
    .swiper-slider-classic {
        max-width: 1920px;
        padding: 0 75px;
    }
}


.swiper-slider-classic-2 .button {
    min-width: 175px;
}

.swiper-slider-classic-2 .swiper-title-2 {
    letter-spacing: .025em;
    font-weight: 400;
}

.swiper-slider-classic-2 h2 {
    letter-spacing: .075em;
}

.swiper-slider-classic-2 .swiper-slide-custom *+.button {
    margin-top: 20px;
}

@media (min-width: 768px) {
    .swiper-slider-classic-2 .swiper-slide-custom *+.button {
        margin-top: 30px;
    }
}

@media (min-width: 1200px) {
    .swiper-slider-classic-2 .swiper-title-2 {
        font-size: 110px;
    }
}

.swiper-pagination__module {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0;
    line-height: 0;
    position: absolute;
    bottom: 25px;
    width: 100%;
    z-index: 1;
}

.swiper-pagination__fraction {
    display: none;
    font-size: 18px;
    line-height: 1;
    font-weight: 500;
    letter-spacing: 0;
    font-family: "Maven Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #9b9b9b;
    transform: rotate(-90deg);
}


.swiper-pagination__divider {
    display: none;
    margin: 30px 0 8px;
    width: 1px;
    height: 176px;
    background: #e1e1e1;
}

@media (min-width: 1600px) {
    .swiper-pagination__fraction {
        display: inline-block;
    }

    .swiper-pagination__divider {
        display: inline-block;
    }
}

.swiper-slider-modern {
    min-height: 44.27083vw;
}

.swiper-slider-modern .swiper-slide {
    background-position: 0 50%;
}

.swiper-slider-modern .swiper-slide-caption {
    padding-top: 60px;
}

.swiper-slider-modern .swiper-button-prev,
.swiper-slider-modern .swiper-button-next {
    transform: none;
    top: 51%;
}

.swiper-slider-modern .slider-modern-box {
    max-width: 240px;
}

.swiper-slider-modern .slider-modern-title {
    line-height: 1.115;
    font-weight: 300;
    letter-spacing: .025em;
}

.swiper-slider-modern .slider-modern-title span {
    display: inline-block;
}

.swiper-slider-modern .button {
    min-width: auto;
    padding-left: 40px;
    padding-right: 40px;
}

.swiper-slider-modern p {
    font-size: 16px;
    line-height: 1.625;
    font-weight: 500;
    letter-spacing: 0;
}

.swiper-slider-modern *+p {
    margin-top: 10px;
}

.swiper-slider-modern *+.button-wrap {
    margin-top: 30px;
}

@media (max-width: 575.98px) {
    .swiper-slider-modern .swiper-slide {
        background-position: 30% 50%;
    }
}

@media (min-width: 768px) {
    .swiper-slider-modern .swiper-slide-caption {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .swiper-slider-modern .slider-modern-box {
        margin-left: 60px;
    }

    .swiper-slider-modern .swiper-pagination {
        display: none;
    }
}

@media (min-width: 992px) {
    .swiper-slider-modern .swiper-slide-caption {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .swiper-slider-modern .slider-modern-box {
        margin-left: 80px;
        max-width: 320px;
    }
}

@media (min-width: 1200px) {
    .swiper-slider-modern .swiper-slide-caption {
        padding-top: 200px;
        padding-bottom: 96px;
    }

    .swiper-slider-modern .slider-modern-box {
        margin-left: 90px;
    }

    .swiper-slider-modern *+.button-wrap {
        margin-top: 40px;
    }
}

@media (min-width: 1600px) {
    .swiper-slider-modern .slider-modern-box {
        margin-left: 24px;
    }
}

.swiper-slider-creative {
    min-height: 34.42708vw;
}

.swiper-slider-creative .swiper-slider-text {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0;
}

.swiper-slider-creative .button {
    min-width: 175px;
}

.swiper-slider-creative h1 {
    letter-spacing: .025em;
}

.swiper-slider-creative hr {
    max-width: 78%;
    margin-left: 0;
    border-color: rgba(255, 255, 255, 0.48);
}

.swiper-slider-creative h4 {
    font-weight: 300;
    letter-spacing: .05em;
}

.swiper-slider-creative *+hr,
.swiper-slider-creative *+.swiper-slider-text {
    margin-top: 12px;
}

.swiper-slider-creative *+.swiper-creative-decor {
    margin-top: 16px;
}

.swiper-slider-creative h1+h4 {
    margin-top: 2px;
}

.swiper-slider-creative *+.button-wrap {
    margin-top: 30px;
}

.swiper-slider-creative .swiper-slider-text+.button,
.swiper-slider-creative .swiper-slider-text+.button-wrap {
    margin-top: 30px;
}

.swiper-slider-creative .swiper-pagination {
    font-size: 0;
    line-height: 0;
    counter-reset: span;
    bottom: 20px;
}

.swiper-slider-creative .swiper-pagination-bullet {
    width: 35px;
    height: 23px;
    padding: 10px 0;
    background: transparent;
}

.swiper-slider-creative .swiper-pagination-bullet::after {
    display: inline-block;
    position: absolute;
    content: '';
    left: 50%;
    top: 50%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: transparent;
    transform: scale(0, 0) translate3d(-50%, -50%, 0) rotate(0.1deg);
    will-change: transform;
    transition: inherit;
    transform-origin: 0 0;
}

.swiper-slider-creative .swiper-pagination-bullet span {
    display: inline-block;
    height: 3px;
    width: 100%;
    background: #ffffff;
    transition: all .3s ease;
}

.swiper-slider-creative .swiper-pagination-bullet:hover::after,
.swiper-slider-creative .swiper-pagination-bullet-active::after {
    background: #ffffff;
    transform: scale(1, 1) translate3d(-50%, -50%, 0) rotate(0.1deg);
    transition-delay: .1s;
}

.swiper-slider-creative .swiper-pagination-bullet:hover span,
.swiper-slider-creative .swiper-pagination-bullet-active span {
    width: 0;
}

@media (max-width: 575.98px) {
    .swiper-slider-creative .swiper-slide {
        background-position-x: 35%;
    }

    .swiper-slider-creative .swiper-slide::before {
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.15);
        z-index: -1;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .swiper-slider-creative h4 {
        font-size: 30px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .swiper-slider-creative .swiper-slide-2 {
        background-position-x: 60%;
    }

    .swiper-slider-creative .swiper-slide-3 {
        background-position-x: 55%;
    }
}

@media (min-width: 768px) {
    .swiper-slider-creative .swiper-pagination {
        bottom: 30px;
    }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
    .swiper-slider-creative .swiper-slide-2 {
        background-position-x: 70%;
    }

    .swiper-slider-creative .swiper-slide-3 {
        background-position-x: 60%;
    }
}

@media (min-width: 992px) {

    .swiper-slider-creative *+.button,
    .swiper-slider-creative *+.button-wrap {
        margin-top: 40px;
    }
}

@media (min-width: 1200px) {
    .swiper-slider-creative h1 {
        font-size: 110px;
    }
}

@media (min-width: 1600px) {
    .swiper-slider-creative .swiper-pagination {
        top: 50%;
        right: 134px;
        bottom: auto;
        left: auto;
        width: auto;
        transform: translate3d(0, -50%, 0);
    }

    .swiper-slider-creative .swiper-pagination .swiper-pagination-bullet {
        margin: 4px 0;
    }

    .swiper-slider-creative .swiper-pagination-bullet {
        display: block;
        width: 21px;
        height: 21px;
    }

    .swiper-slider-creative .swiper-pagination-bullet::before {
        display: inline-block;
        position: absolute;
        content: counter(span, decimal);
        counter-increment: span;
        top: 60%;
        left: -22px;
        font-size: 24px;
        line-height: 1;
        letter-spacing: .05em;
        font-weight: 500;
        font-family: "Montserrat", sans-serif, Arial, sans-serif;
        color: #ffffff;
        opacity: 0;
        visibility: hidden;
        transform: translate3d(-20px, -50%, 0);
        will-change: transform;
        transition: inherit;
    }

    .swiper-slider-creative .swiper-pagination-bullet::after {
        left: 1px;
        width: 5px;
        height: 5px;
        transform: scale(0, 0) translate3d(0, -50%, 0) rotate(0.1deg);
        transform-origin: 50% 0;
    }

    .swiper-slider-creative .swiper-pagination-bullet span {
        height: 1px;
    }

    .swiper-slider-creative .swiper-pagination-bullet:hover::after,
    .swiper-slider-creative .swiper-pagination-bullet-active::after {
        transform: scale(1, 1) translate3d(0, -50%, 0) rotate(0.1deg);
        transition-delay: 0s;
    }

    .swiper-slider-creative .swiper-pagination-bullet:hover span,
    .swiper-slider-creative .swiper-pagination-bullet-active span {
        width: 100%;
        transform: translate3d(24px, 0, 0);
    }

    .swiper-slider-creative .swiper-pagination-bullet-active::before {
        opacity: 1;
        visibility: visible;
        transform: translate3d(0, -50%, 0);
    }

    .swiper-slider-creative .swiper-pagination-bullet-active span {
        width: 340%;
    }

    .swiper-slider-creative .swiper-pagination-bullet-active:hover span {
        width: 340%;
    }
}

.swiper-slider-corporate {
    min-height: calc(100vh - 56px);
}

.swiper-slider-corporate.swiper-container-horizontal .swiper-pagination .swiper-pagination-bullet {
    margin: 0 12px;
}

.swiper-slider-corporate.swiper-container-vertical {
    max-height: 35.3125vw;
}

.swiper-slider-corporate.swiper-container-vertical .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
}

@media (max-height: 370px) {
    .swiper-slider-corporate {
        min-height: 310px;
    }
}

.swiper-slider-corporate .swiper-pagination-bullet::before {
    background: rgba(255, 255, 255, 0.33);
}

/*Boton chico activo*/
.swiper-slider-corporate .swiper-pagination-bullet::after {
    background: #099FE4;
}

.swiper-slider-corporate .swiper-pagination-bullet:hover::before {
    background: rgba(255, 255, 255, 0.7);
}

.swiper-slider-corporate .button {
    min-width: 160px;
    padding: 17px 18px 15px;
}

.swiper-slider-corporate h6 {
    letter-spacing: .050em;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
}

.swiper-slider-corporate h2 {
    font-size: 0;
    line-height: 0;
    text-indent: 0;
}

.swiper-slider-corporate h2 span {
    font-size: 36px;
    line-height: 1.1;
}

@media (min-width: 768px) {
    .swiper-slider-corporate h2 span {
        font-size: 50px;
    }
}

@media (min-width: 992px) {
    .swiper-slider-corporate h2 span {
        font-size: 56px;
    }
}

@media (min-width: 1200px) {
    .swiper-slider-corporate h2 span {
        font-size: 64px;
        line-height: 1.1;
    }
}

.swiper-slider-corporate h6+h2 {
    margin-top: 16px;
}

.swiper-slider-corporate *+.button-wrap {
    margin-top: 20px;
}

@media (min-width: 768px) {
    .swiper-slider-corporate {
        min-height: 370px;
    }

    .swiper-slider-corporate.swiper-container-vertical {
        min-height: 400px;
    }

    .swiper-slider-corporate h6+h2 {
        margin-top: 10px;
    }

    .swiper-slider-corporate *+.button-wrap {
        margin-top: 30px;
    }
}

@media (min-width: 992px) {
    .swiper-slider-corporate.swiper-container-horizontal {
        min-height: 400px;
    }

    .swiper-slider-corporate.swiper-container-vertical .swiper-pagination {
        right: 6%;
    }
}

@media (min-width: 1200px) {
    .swiper-slider-corporate.swiper-container-horizontal {
        min-height: 35.3125vw;
    }
}

@media (min-width: 1600px) {
    .swiper-slider-corporate.swiper-container-vertical .swiper-pagination {
        top: 43%;
        right: 11.5%;
        transform: none;
    }
}

.swiper-slider-tara {
    min-height: 35.36458vw;
}

.swiper-slider-tara.swiper-container-horizontal>.swiper-pagination .swiper-pagination-bullet {
    margin: 0 6px;
}

.swiper-slider-tara .swiper-pagination {
    bottom: 0;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    width: auto;
    min-width: 155px;
    font-size: 0;
    line-height: 0;
    padding: 17px 20px 10px;
    background: #ffffff;
}

.swiper-slider-tara .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: transparent;
    border: 3px solid #d7d7d7;
    transition: all .1s ease-in-out;
}

.swiper-slider-tara .swiper-pagination-bullet::before,
.swiper-slider-tara .swiper-pagination-bullet::after {
    position: absolute;
    content: '';
    opacity: 0;
    border-radius: inherit;
}


.swiper-slider-tara .swiper-pagination-bullet-active::before,
.swiper-slider-tara .swiper-pagination-bullet:hover::before {
    opacity: 1;
    transform: translate3d(-50%, -50%, 0);
}

.swiper-slider-tara .swiper-pagination-bullet-active {
    border-color: transparent;
}

.swiper-slider-tara .swiper-pagination-bullet-active::after {
    opacity: 1;
    transform: none;
}

.swiper-slider-tara .swiper-title {
    font-weight: 300;
}


.swiper-slider-tara .button {
    min-width: 176px;
}

.swiper-slider-tara *+.swiper-title {
    margin-top: 16px;
}

.swiper-slider-tara *+.button,
.swiper-slider-tara *+.button-wrap {
    margin-top: 20px;
}

@media (max-width: 575.98px) {
    .swiper-slider-tara .swiper-slide::before {
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(255, 255, 255, 0.2);
        pointer-events: none;
    }
}

@media (min-width: 768px) {
    .swiper-slider-tara .swiper-pagination {
        right: 0;
        left: auto;
        transform: none;
        padding-bottom: 17px;
    }
}

@media (min-width: 992px) {
    .swiper-slider-tara .swiper-title {
        line-height: 1.2;
    }

    .swiper-slider-tara .swiper-subtitle {
        letter-spacing: .15em;
    }

    .swiper-slider-tara *+.swiper-title {
        margin-top: 22px;
    }
}


/*Services*/

img {
    display: inline-block;
    max-width: 100%;
    height: auto
}

.cta-box-wrap .list-marked-2:hover img {
    transform: scale(1.1);
    transition: all ease .35s;
}

.cta-box-wrap .list-marked-2 img {
    transition: all ease .35s;
}

.box-categories {
    position: relative;
    text-align: left;
    max-width: 370px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    transition: all .3s ease;
    z-index: 1
}

.box-categories::before {
    position: absolute;
    content: '';
    top: 12px;
    right: 12px;
    bottom: 12px;
    left: 12px;
    border: 1px solid #e1e1e1;
    background: 0 0;
    will-change: transform;
    pointer-events: none;
    transition: inherit;
    z-index: -1
}

.box-categories-content {
    margin: 0 auto
}

.box-categories-title {
    font-weight: 400;
    letter-spacing: .1em
}

.box-categories-list {
    letter-spacing: .025em
}

.box-categories-list li {
    transition: all .2s ease
}

.box-categories-list li::before {
    transition: all .3s ease-in-out
}

.box-categories-list a,
.box-categories-list a:active,
.box-categories-list a:focus {
    color: inherit
}

.cta-box-wrap {
    max-width: 100%;
    background: 0 0
}

.cta-box-wrap:before {
    display: none
}

.cta-box-wrap .box-categories-content {
    width: 100%
}

.cta-box-wrap .list-marked-2 {
    overflow: hidden;
    margin-bottom: 30px;
    margin-top: 0
}

.cta-box-wrap .list-marked-2 img {
    transition: all ease .35s
}

.cta-box-wrap .list-marked-2 li {
    position: relative;
    text-align: center;
    text-indent: 0;
    padding: 0
}

.cta-box-wrap .list-marked-2 li .box-categories-title {
    position: absolute;
    font-weight: 700;
    max-width: 94%;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 8%;
    color: #fff;
    letter-spacing: normal
}

.cta-box-wrap .list-marked-2 li a {
    display: block
}

.cta-box-wrap .list-marked-2 li:before {
    display: none
}

.cta-box-wrap+.link-classic {
    font-weight: 500;
    font-size: 16px;
    text-transform: none;
    color: #151515
}

.cta-box-wrap+.link-classic span {
    opacity: 1
}

.cta-box-wrap+.link-classic span:before {
    background-color: #151515
}

.cta-box-wrap+.link-classic span:after {
    margin-left: 0
}

.section-60,
.section-lg,
.section-md {
    padding: 60px 0
}

.bg-gray-4 {
    background-color: #f7f7f7
}

[class*=bg-] {
    background-size: cover;
    background-position: center center
}

/*our services*/

.box-icon-classic {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 30px 18px;
    min-height: 100%;
    background: #fff;
    transition: all .2s ease;
    z-index: 1
}

.box-icon-classic::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 8px solid #f4f4f4;
    transition: all .2s ease;
    z-index: -1
}

.box-icon-classic-icon {
    font-size: 36px;
    line-height: 1;
    color: var(--main-color);
    transition: all .2s ease-in-out
}

.box-icon-classic-title {
    font-weight: 500
}

.box-icon-classic-title a,
.box-icon-classic-title a:active,
.box-icon-classic-title a:focus {
    color: inherit
}


.box-icon-classic-text {
    color: #9b9b9b
}

*+.box-icon-classic-text {
    margin-top: 10px
}


.unit {
    display: flex;
    flex: 0 1 100%;
    margin-bottom: -30px;
    margin-left: -20px
}

.unit>* {
    margin-bottom: 30px;
    margin-left: 20px
}

.unit-body {
    flex: 0 1 auto
}

.unit-left {
    flex: 0 0 auto;
    max-width: 100%
}


*+p {
    margin-top: 15px
}


h5+p {
    margin-top: 17px
}


*+.row {
    margin-top: 40px
}


.row-10 {
    margin-bottom: -10px
}


.row-10>* {
    margin-bottom: 10px
}

.row-30>* {
    margin-bottom: 30px
}

.section-sm {
    padding: 30px 0
}

.list-marked-2>li {
    text-indent: -15px;
    padding-left: 15px;
}

/*Footer*/

.list-inline>li {
    display: inline-block
}

html .list-inline-sm {
    transform: translate3d(0, -8px, 0);
    margin-bottom: -8px;
    margin-left: -8px;
    margin-right: -8px
}

html .list-inline-sm>* {
    margin-top: 8px;
    padding-left: 8px;
    padding-right: 8px
}

.icon {
    display: inline-block;
    font-size: 16px;
    line-height: 1
}

.icon::before {
    position: relative;
    display: inline-block;
    font-weight: 400;
    font-style: normal;
    speak: none;
    text-transform: none
}

.footer-social-list-2 .icon {
    font-size: 16px
}

.footer-social-list-2 a,
.footer-social-list-2 a:active,
.footer-social-list-2 a:focus {
    color: #151515
}

.footer-corporate {
    text-align: center;
    background: #162e44
}

.footer-corporate .rights {
    font-size: 12px
}

.footer-corporate-bottom-panel {
    padding: 30px 0;
    background: #11263a;
    color: rgba(255, 255, 255, .3)
}

.context-dark .footer-social-list-2 a,
.context-dark .footer-social-list-2 a:active,
.context-dark .footer-social-list-2 a:focus {
    color: #fff
}

.footer-corporate.context-dark .footer-corporate-bottom-panel {
    color: rgba(255, 255, 255, .3)
}

.footer-corporate.context-dark .footer-corporate-bottom-panel a,
.footer-corporate.context-dark .footer-corporate-bottom-panel a:active,
.footer-corporate.context-dark .footer-corporate-bottom-panel a:focus {
    color: inherit
}

.footer-corporate.context-dark .rights {
    color: inherit
}

p.rights {
    font-size: 14px;
    letter-spacing: .025em;
    font-weight: 500;
    color: #9b9b9b
}

p.rights a {
    color: inherit
}

/*flecha*/
.ui-to-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 100;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 38px;
    color: #ffffff;
    background: #067AB2;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    transition: .45s all ease-in-out;
    transform: translate3d(0, 100px, 0);
}

.ui-to-top:hover {
    color: #ffffff;
    background: #111111;
    text-decoration: none;
}

.ui-to-top:focus {
    color: #ffffff;
}

.ui-to-top.active {
    transform: translate3d(0, 0, 0);
}

html.mobile .ui-to-top,
html.tablet .ui-to-top {
    display: none !important;
}

@media (min-width: 768px) {
    .ui-to-top {
        width: 50px;
        height: 50px;
        line-height: 46px;
        right: 30px;
        bottom: 30px;
    }
}

@media (min-width: 1600px) {
    .ui-to-top {
        right: 12px;
    }
}

/*Inicio de Sesion*/

.btn-blue {
    background-color: var(--main-color);
    color: var(--thirt-color);
}

.btn-blue:hover {
    background-color: var(--second-color);
    color: var(--thirt-color);
}

.btn-same-width {
    width: 150px;
}

.progress-color {
    background-color: var(--main-color) !important;
}

/*validaciones*/

.error-color {
    color: red;
    margin-top: 10px;
}

/*Docentes*/



.parallax-content {
    position: relative;
    z-index: 1;
}

[class*='bg-'] {
    background-size: cover;
    background-position: center center;
}

@media (min-width: 992px) {

    .section-inset-custom-6,
    .section-xl {
        padding: 100px 0;
    }
}

[class*='bg-overlay-'] .section-single-inner,
[class*='bg-overlay-'] .container {
    position: relative;
}

.section-60,
.section-md,
.section-lg,
.section-xl {
    padding: 60px 0;
}

.bg-overlay-2-21::before {
    background: rgba(24, 26, 35, 0.21);
}

[class*='bg-overlay-']::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
}

.context-dark,
.bg-gray-dark,
.bg-primary,
.context-dark h1,
.bg-gray-dark h1,
.bg-primary h1,
.context-dark h2,
.bg-gray-dark h2,
.bg-primary h2,
.context-dark h3,
.bg-gray-dark h3,
.bg-primary h3,
.context-dark h4,
.bg-gray-dark h4,
.bg-primary h4,
.context-dark h5,
.bg-gray-dark h5,
.bg-primary h5,
.context-dark h6,
.bg-gray-dark h6,
.bg-primary h6,
.context-dark [class*='heading-'],
.bg-gray-dark [class*='heading-'],
.bg-primary [class*='heading-'] {
    color: #ffffff;
}

.bg-overlay-2-21::before {
    background: rgba(24, 26, 35, 0.21);
}

[class*='bg-overlay-']::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
}

.context-dark,
.bg-gray-dark,
.bg-primary,
.context-dark h1,
.bg-gray-dark h1,
.bg-primary h1,
.context-dark h2,
.bg-gray-dark h2,
.bg-primary h2,
.context-dark h3,
.bg-gray-dark h3,
.bg-primary h3,
.context-dark h4,
.bg-gray-dark h4,
.bg-primary h4,
.context-dark h5,
.bg-gray-dark h5,
.bg-primary h5,
.context-dark h6,
.bg-gray-dark h6,
.bg-primary h6,
.context-dark [class*='heading-'],
.bg-gray-dark [class*='heading-'],
.bg-primary [class*='heading-'] {
    color: #ffffff;
}

@media (min-width: 1200px) {

    h2,
    .heading-2 {
        font-size: 48px;
        line-height: 1.2;
    }
}

@media (min-width: 992px) {

    h2,
    .heading-2 {
        font-size: 40px;
    }
}

@media (min-width: 768px) {

    h2,
    .heading-2 {
        font-size: 36px;
    }
}

.text-center [class*='text-width-'] {
    margin-left: auto;
    margin-right: auto;
}


.text-width-medium {
    max-width: 600px;
}

.text-spacing-75 {
    letter-spacing: .075em;
}

h2+p {
    margin-top: 15px;
}

label,
figure,
dd,
form,
p,
dl,
ul,
ol {
    margin: 0;
    padding: 0;
}

.button-secondary.button-pipaluk::before,
.button-secondary.button-pipaluk:focus::before {
    background: #0788C6;
    border-color: #0788C6;
}

.button-pipaluk::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: all .3s ease-in-out;
}

.button-secondary,
.button-secondary:focus {
    color: #ffffff;
    background-color: #0788C6;
    border-color: #0788C6;
}

.context-dark .button.button-pipaluk:hover,
.bg-gray-dark .button.button-pipaluk:hover,
.bg-primary .button.button-pipaluk:hover,
.context-dark .button.button-pipaluk:active,
.bg-gray-dark .button.button-pipaluk:active,
.bg-primary .button.button-pipaluk:active {
    color: #ffffff;
}

.button-secondary.button-pipaluk:hover,
.button-secondary.button-pipaluk:active {
    color: #151515;
    background: transparent;
}

.button-secondary.button-pipaluk,
.button-secondary.button-pipaluk:focus {
    background: transparent;
}

.button-secondary:hover,
.button-secondary:active {
    color: #ffffff;
    background-color: #0788C6;
    border-color: #151515;
}

*+.button {
    margin-top: 30px;
}

.button-pipaluk {
    position: relative;
    overflow: visible;
    padding: 14px 35px 15px;
    border: none;
    z-index: 1;
}