{% load static %}
 <section class="section section-sm section-first bg-default text-md-left ">
        <div class="container">
            <div class="row row-50 align-items-center justify-content-between justify-content-xl-between">
                <div class="col-lg-6 wow">
                    <div class="container">
                        <h4 class="text-uppercase my-3 text-center">¿Por qué es importante esta competencia
                            digital?</h4>
                        <p class="mt-4 text-justify">Esta habilidad es clave para crear y compartir contenido digital de forma creativa, responsable y significativa. <p/>
                        <p>Permite transformar ideas en recursos útiles, aprovechar la tecnología para innovar, y respetar los derechos de autor y las licencias, fomentando una cultura de respeto, colaboración y ética digital.</p>
                    </div>
                </div>
                <div class="col-lg-6 text-center wow fadeInUp"><img
                        src="{% static 'images/UNCUYO-INSIGNIA-DigComp_area-3.png' %}" alt="" width="300"/>
                </div>
            </div>
        </div>
    </section>