{% load static %}
 <section class="section py-4 px-3 bg-gray-4">
        <div class="mx-5 pb-5">
            <div class="row row-cols-1 row-cols-md-2 mt-4">
                <!-- Parte izquierda: Cards -->
                <div class="col">
                    <div class="row row-cols-1 row-cols-md-2 g-4">
                        <div class="col">
                            <a class="card1 h-100 w-100" href="{% url 'competencias' %}">
                                <h6 class="text-center fw-bold">Básico</h6>
                                <h4 class="text-center box-icon-classic-title pt-2">Búsqueda y gestión de información y
                                    datos</h4>
                                <p class="small pt-2 box-icon-classic-text text-justify"> Navegar, buscar y filtrar datos,
                                    información y contenidos digitales.</p>
                                <div class="go-corner" href="#">
                                    <div class="go-arrow">→</div>
                                </div>
                            </a>
                        </div>
                        <div class="col">
                            <a class="card1 h-100 w-100" href="#">
                                <h6 class="text-center pb-2 fw-bold">Intermedio</h6>
                                <h4 class="text-center box-icon-classic-title">Búsqueda y gestión de información y
                                    datos</h4>
                                <p class="small pt-2 box-icon-classic-text text-justify"> Navegar, buscar y filtrar
                                    datos, información y contenidos digitales</p>
                                <div class="go-corner" href="#">
                                    <div class="go-arrow">→</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Parte derecha: Material de apoyo -->
                <div class="col d-flex flex-column justify-content-start">
                    <h4 class="text-center">Material de apoyo</h4>
                    <!-- Aquí podés colocar un enlace, lista, íconos, PDF, etc. -->
                    <p class="text-center my-4 ms-4">Aquí encontrarás recursos adicionales para complementar tu
                        aprendizaje.</p>
                    <!-- Ejemplo de enlace -->
                    <div class="mb-4 ms-4 ps-5">
                        <h6 class="text-uppercase">Básico</h6>
                        <ul class="list-marked text-start py-3">
                            <li><a class="text-decoration-none dark-link pt-4 text-start"
                                   href="https://ead.uncu.edu.ar/mod/book/view.php?id=15832&chapterid=2028" target="_blank" rel="noopener noreferrer">Navegar,
                                buscar y filtrar datos, información y contenidos digitales</a></li>
                        </ul>
                    </div>
                    <div class="mb-4 ms-4 ps-5">
                        <h6 class="text-uppercase">Intermedio</h6>
                        <ul class="list-marked text-start py-3">
                            <li><a class="text-decoration-none dark-link pt-4"
                                   href="https://ead.uncu.edu.ar/mod/book/view.php?id=15832&chapterid=2030" target="_blank" rel="noopener noreferrer">Navegar,
                                buscar y
                                filtrar datos, información y contenidos digitales</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr class="py-4">
        <div class="mx-5 pb-5">
            <div class="row row-cols-1 row-cols-md-2">
                <!-- Parte izquierda: Cards -->
                <div class="col">
                    <div class="row row-cols-1 row-cols-md-2 g-4">
                        <div class="col">
                            <a class="card1 h-100 w-100" href="{% url 'competencias' %}">
                                <h6 class="text-center fw-bold">Básico</h6>
                                <h4 class="text-center box-icon-classic-title pt-2">Búsqueda y gestión de información y
                                    datos</h4>
                                <p class="small pt-2 box-icon-classic-text text-justify">Evaluar datos, información y contenidos digitales.</p>
                                <div class="go-corner" href="#">
                                    <div class="go-arrow">→</div>
                                </div>
                            </a>
                        </div>
                        <div class="col">
                            <a class="card1 h-100 w-100" href="#">
                                <h6 class="text-center pb-2 fw-bold">Intermedio</h6>
                                <h4 class="text-center box-icon-classic-title">Búsqueda y gestión de información y
                                    datos</h4>
                                <p class="small pt-2">Evaluar datos, información y contenidos digitales.</p>
                                <div class="go-corner" href="#">
                                    <div class="go-arrow">→</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Parte derecha: Material de apoyo -->
                <div class="col d-flex flex-column justify-content-start">
                    <h4 class="text-center">Material de apoyo</h4>
                    <!-- Aquí podés colocar un enlace, lista, íconos, PDF, etc. -->
                    <p class="text-center my-4 ms-4">Aquí encontrarás recursos adicionales para complementar tu
                        aprendizaje.</p>
                    <!-- Ejemplo de enlace -->
                    <div class="mb-4 ms-4 ps-5">
                        <h6 class="text-uppercase">Básico</h6>
                        <ul class="list-marked text-start py-3">
                            <li><a class="text-decoration-none dark-link pt-4 text-justify"
                                   href="https://ead.uncu.edu.ar/mod/book/view.php?id=15832&chapterid=2036" target="_blank" rel="noopener noreferrer">Evaluar
                                datos, información y contenidos digitales.</a></li>
                        </ul>
                    </div>
                    <div class="mb-4 ms-4 ps-5">
                        <h6 class="text-uppercase">Intermedio</h6>
                        <ul class="list-marked text-start py-3">
                            <li><a class="text-decoration-none dark-link pt-4"
                                   href="https://ead.uncu.edu.ar/mod/book/view.php?id=15832&chapterid=2037" target="_blank" rel="noopener noreferrer">Evaluar
                                datos, información y contenidos digitales.</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <hr class="py-4">
        <div class="mx-5 pb-5">
            <div class="row row-cols-1 row-cols-md-2">
                <!-- Parte izquierda: Cards -->
                <div class="col">
                    <div class="row row-cols-1 row-cols-md-2 g-4">
                        <div class="col">
                            <a class="card1 h-100 w-100" href="{% url 'competencias' %}">
                                <h6 class="text-center fw-bold">Básico</h6>
                                <h4 class="text-center box-icon-classic-title pt-2">Búsqueda y gestión de información y
                                    datos</h4>
                                <p class="small pt-2 box-icon-classic-text text-justify">Gestionar datos, información y contenidos digitales.</p>
                                <div class="go-corner" href="#">
                                    <div class="go-arrow">→</div>
                                </div>
                            </a>
                        </div>
                        <div class="col">
                            <a class="card1 h-100 w-100" href="#">
                                <h6 class="text-center pb-2 fw-bold">Intermedio</h6>
                                <h4 class="text-center box-icon-classic-title">Búsqueda y gestión de información y
                                    datos</h4>
                                <p class="small pt-2 box-icon-classic-text text-justify">Gestionar datos, información y contenidos digitales.</p>
                                <div class="go-corner" href="#">
                                    <div class="go-arrow">→</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Parte derecha: Material de apoyo -->
                <div class="col d-flex flex-column justify-content-start">
                    <h4 class="text-center">Material de apoyo</h4>
                    <!-- Aquí podés colocar un enlace, lista, íconos, PDF, etc. -->
                    <p class="text-center my-4 ms-4">Aquí encontrarás recursos adicionales para complementar tu
                        aprendizaje.</p>
                    <!-- Ejemplo de enlace -->
                    <div class="mb-4 ms-4 ps-5">
                        <h6 class="text-uppercase">Básico</h6>
                        <ul class="list-marked text-start py-3">
                            <li><a class="text-decoration-none dark-link pt-4 text-justify"
                                   href="https://ead.uncu.edu.ar/mod/book/view.php?id=15832&chapterid=2039" target="_blank" rel="noopener noreferrer">Gestionar
                                datos, información y contenidos digitales.</a></li>
                        </ul>
                    </div>
                    <div class="mb-4 ms-4 ps-5">
                        <h6 class="text-uppercase">Intermedio</h6>
                        <ul class="list-marked text-start py-3">
                            <li><a class="text-decoration-none dark-link"
                                   href="https://ead.uncu.edu.ar/mod/book/view.php?id=15832&chapterid=2040" target="_blank" rel="noopener noreferrer">Gestionar
                                datos, información y contenidos digitales.</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </section>