{% load static %}
 <section class="section section-sm section-first bg-default text-md-left ">
        <div class="container">
            <div class="row row-50 align-items-center justify-content-between justify-content-xl-between">
                <div class="col-lg-6 wow">
                    <div class="container">
                        <h4 class="text-uppercase my-3 text-center">¿Por qué es importante esta competencia
                            digital?</h4>
                        <p class="mt-4 text-justify">Fortalece tu capacidad de integrarte a entornos académicos, laborales y sociales que requieren interacción constante mediante tecnologías digitales. <p/>
                        <p>Además, te prepara para desempeñarte en contextos colaborativos, respetando normas de convivencia digital y contribuyendo activamente al trabajo colectivo.</p>
                    </div>
                </div>
                <div class="col-lg-6 text-center wow fadeInUp"><img
                        src="{% static 'images/UNCUYO-INSIGNIA-DigComp_area-1 (1).png' %}" alt="" width="300"/>
                </div>
            </div>
        </div>
    </section>