{% load static %}
 <section class="section section-sm section-first bg-default text-md-left ">
        <div class="container">
            <div class="row row-50 align-items-center justify-content-between justify-content-xl-between">
                <div class="col-lg-6 wow">
                    <div class="container">
                        <h4 class="text-uppercase my-3 text-center">¿Por qué es importante esta competencia
                            digital?</h4>
                        <p class="mt-4 text-justify">Esta competencia se refiere a la capacidad de proteger dispositivos, datos personales, la identidad digital y los contenidos digitales. Incluye el conocimiento y la aplicación de prácticas seguras en entornos digitales, así como el uso de herramientas y estrategias que favorezcan la privacidad, la protección frente a amenazas y el uso ético de la tecnología.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 text-center wow fadeInUp"><img
                        src="{% static 'images/UNCUYO-INSIGNIA-DigComp_area-4.png' %}" alt="" width="300"/>
                </div>
            </div>
        </div>
    </section>