{% load static %}
<section class="section section-sm section-first text-md-left">
    <div class="container px-5 py-4">
        <div class="row row-50 align-items-center justify-content-center justify-content-xl-between">

            <div class="col-lg-6">
                <div class="container">
                    <h3 class="text-uppercase text-center">¿Qué es una credencial digital?</h3>
                    <p class="mt-4 text-justify">Es una representación electrónica de un logro, competencia o
                        aprendizaje adquirido por una persona. A diferencia de un certificado en papel es verificable,
                        interoperable,
                        portátil y accesible. </p>
                    <p class="mt-4 text-justify">Un Open Badge es un tipo de credencial digital estandarizada, impulsada
                        por la iniciativa global <strong>Open Badges</strong>, que permite representar logros de forma
                        confiable. </p>
                </div>
            </div>
            <div class="col-lg-6 text-center wow fadeInUp"><img
                    src="{% static 'images/UNCUYO-INSIGNIA-DigComp_Macro.png' %}" alt="" width="450" height="300" />
            </div>
        </div>
    </div>
</section>