{% load static %}
<section class="section section-sm bg-gray-5">
    <div class="container">
        <h3 class="text-uppercase text-center">Tus beneficios</h3>
        <div class="row row-30">
            <div class="col-sm-6 col-lg-4">
                <article class="box-icon-classic h-100">
                    <div class="unit box-icon-classic-body flex-column text-center">
                        <div class="">
                            <div class="box-icon-classic-icon fl-bigmug-line-circular220"></div>
                        </div>
                        <div class="h-100">
                            <h5 class="text-uppercase box-icon-classic-title">Reconocimiento institucional</h5>
                            <p class=" box-icon-classic-text mx-2">Fortalece tu identidad digital profesional y valida
                                tus competencias con criterios internacionales.</p>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-lg-4">
                <article class="box-icon-classic h-100">
                    <div class="unit box-icon-classic-body flex-column text-center">
                        <div class="">
                            <div class="box-icon-classic-icon fl-bigmug-line-favourites5"></div>
                        </div>
                        <div class="">
                            <h5 class="text-uppercase box-icon-classic-title">Identifica tus fortalezas</h5>
                            <p class=" box-icon-classic-text mx-2">Descubre en qué áreas digitales destacas y cómo
                                puedes
                                aprovechar tus competencias en tu labor.</p>
                        </div>
                    </div>
                </article>
            </div>

            <div class="col-sm-6 col-lg-4">
                <article class="box-icon-classic h-100">
                    <div class="unit box-icon-classic-body flex-column text-center">
                        <div class="">
                            <div class="box-icon-classic-icon fl-bigmug-line-flag53"></div>
                        </div>
                        <div class="text-center">
                            <h5 class="text-uppercase box-icon-classic-title px-4">Planea tu desarrollo</h5>
                            <p class="box-icon-classic-text mx-2">Obtén recomendaciones personalizadas para mejorar tus
                                habilidades digitales y alcanzar tu máximo potencial.</p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>

</section>