{% load static %}
<section class="section section-sm section-first bg-default text-md-left">
    <div class="container p-5">
        <div class="row row-50 align-items-center justify-content-center justify-content-xl-between">
            <div class="col-lg-6 text-center wow fadeInUp"><img src="{% static 'images/estudiantes.jpg' %}" alt=""
                    width="500" height="300" />
            </div>
            <div class="col-lg-6">
                <div class="container">
                    <h3 class="text-uppercase">¡Bienvenidos!</h3>
                    <p class="mt-4 text-justify">
                        En un mundo digital, contar con competencias tecnológicas es esencial para estudiar, comunicarte
                        y participar activamente en la vida universitaria.
                    </p>
                    <p class="mt-4 text-justify">
                        Avanzá a tu ritmo con el acompañamiento de un/a tutor/a y accedé a recursos accesibles,
                        actividades
                        prácticas y evaluaciones que te permitirán obtener <strong>credenciales digitales
                            verificables</strong>
                        para compartir en tu currículum, redes o plataformas académicas.
                    </p>

                    <h5 class="text-center mt-4 text-blue">
                        ¡Empezá ahora y descubrí tu nivel de competencias digitales!
                    </h5>
                </div>
            </div>
        </div>
    </div>
</section>