{% extends "base.html" %}
{% load static %}
{% block content %}
    <section class="section section-sm section-last bg-default bg-gray-4">
        <div class="container pt-4">
            <div class="card shadow-lg">
                <div class="card-body m-3 m-xxl-5">
                    <h4 class="text-uppercase text-center text-xl-start mt-2">{{ activity.question }}</h4>
                    <h6 class="pt-3 text-justify">{{ activity.subquestion }}</h6>

                    <form method="post">
                        {% csrf_token %}
                        <!-- Contenedor principal de la matriz -->
                        <div class="matrix-container my-5">
                            <div class="row g-4 justify-content-center">
                                {% for choice in form.fields.answer.choices %}
                                    <div class="col-4 col-md-3 d-flex justify-content-center">
                                        <label class="image-option-wrapper">
                                            <div class="image-item position-relative">
                                                <input type="radio" name="answer" value="{{ choice.0 }}"
                                                       class="radio-input visually-hidden">
                                                <img src="{{ choice.1 }}" alt="Opción {{ forloop.counter }}"
                                                     class="option-image img-fluid rounded shadow-sm">
                                                <div class="selection-overlay rounded"></div>
                                            </div>
                                        </label>
                                    </div>

                                    <!-- Nueva fila cada 3 elementos -->
                                    {% if forloop.counter|divisibleby:3 and not forloop.last %}
                                        </div>
                                        <div class="row g-4 justify-content-center mt-3">
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>

                        <div class="d-flex justify-content-center justify-content-xl-end mx-5 mb-5">
                            <button type="submit" class="btn btn-stuffed mt-3 btn-same-width validar-imagenes">
                                Responder y continuar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>


{% block extra_scripts %}
    <script src="{% static 'js/activity.js' %}"></script>
{% endblock %}
{% endblock %}