{% extends "base.html" %}
{% load static %}
{% block content %}
    <section class="section section-sm section-last bg-default bg-gray-4 ">
        <div class="container pt-4">
            <div class="card shadow-lg mx-auto " style="max-width: 700px;">
            <div class="quiz-header shadow m-4">
                        <h3 class="oh font-weight-light">Resultado final</h3>
                    </div>
                <div class="card-body">
                    
                    <h5 class="ps-4 py-2 text-center"><strong>Respondiste correctamente {{ correct }} de {{ total }}
                        actividades.</strong></h5>
                    <div class="accordion mx-4" id="answersAccordion">
                        {% for answer in answers %}
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading{{ forloop.counter }}">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="false"
                                            aria-controls="collapse{{ forloop.counter }}">
                                        {{ answer.activity.question }}:

                                    </button>
                                </h2>
                                <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse"
                                     aria-labelledby="heading{{ forloop.counter }}" data-bs-parent="#answersAccordion">
                                    <div class="accordion-body">
                                        <strong>Tu respuesta:</strong> {% if answer.is_correct %}
                                            <span style="color:green;">Correcto</span>
                                        {% else %}
                                            <span style="color:red;">Incorrecto</span>
                                        {% endif %}<br>
                                        <strong>Retroalimentación:</strong> {{ answer.feedback }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}