{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="section swiper-container swiper-slider swiper-slider-corporate swiper-pagination-style-2"
         data-loop="true" data-autoplay="5000" data-simulate-touch="true" data-nav="false"
         data-direction="vertical">
    <div class="swiper-wrapper text-left">
        <div class="swiper-slide context-dark" data-slide-bg="{% static 'images/slider-4-slide-1-1920x678.jpg' %}">
            <div class="swiper-slide-caption section-md">
                <div class="container">
                        <div class="mt-4">
                            <h2 class="oh font-weight-light" data-caption-animate="slideInUp" data-caption-delay="0" data-swiper-animate-restart="true">
                                <span class="font-weight-bold">Competencias</span>
                            </h2>
                            <p class="text-uppercase" data-caption-animate="fadeInLeft" data-caption-delay="100" data-swiper-animate-restart="true">
                                Evalúese a su
                                propio ritmo en 5 competencias digitales. Elige una habilidad y comienza avanza de
                                nivel.</p>
                        </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

    <section class="section section-sm section-last bg-default bg-gray-4">
        <div class="mx-5">
            <h4 class="progress-title text-center text-md-start">Área 1: Gestión de la información multimedia</h4>
            <div class="row row-cols-1 row-cols-md-5 row-gap-4">
                <div class="col">
                    <a class="card1 h-100 w-100" href="{% url 'competencias' %}">
                        <h4 class="text-center">Información y alfabetización digital</h4>
                        <p class="small pt-2">Navegar, buscar y filtrar datos, información y contenidos digitales.</p>
                        <div class="go-corner" href="#">
                            <div class="go-arrow">
                                →
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a class="card1 h-100 w-100" href="#">
                        <h4 class="text-center">Información y alfabetización digital</h4>
                        <p class="small pt-2"> Evaluar datos, información y contenidos digitales.</p>
                        <div class="go-corner" href="#">
                            <div class="go-arrow">
                                →
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a class="card1 h-100 w-100" href="#">
                        <h4>Información y alfabetización digital</h4>
                        <p class="small pt-2">Gestionar datos, información y contenidos digitales.</p>
                        <div class="go-corner" href="#">
                            <div class="go-arrow">
                                →
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="m-5">
            <h4 class="progress-title text-center text-md-start">Área 2: Comunicación y Colaboración Digital</h4>
            <div class="row row-cols-1 row-cols-md-5 row-gap-4">
                <div class="col">
                    <a class="card2 h-100 w-100" href="#">
                        <h4 class="text-center">Comunicación y colaboración</h4>
                        <p class="small pt-2">Interactuar a través de tecnologías digitales.</p>
                        <div class="go-corner2" href="#">
                            <div class="go-arrow2">
                                →
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a class="card2 h-100 w-100" href="#">
                        <h4 class="text-center">Comunicación y colaboración</h4>
                        <p class="small pt-2">Compartir a través de tecnologías digitales.</p>
                        <div class="go-corner2" href="#">
                            <div class="go-arrow2">
                                →
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a class="card2 h-100 w-100" href="#">
                        <h4 class="text-center">Comunicación y colaboración</h4>
                        <p class="small pt-2">Compromisos de la ciudadanía a través de tecnologías digitales.</p>
                        <div class="go-corner2" href="#">
                            <div class="go-arrow2">
                                →
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a class="card2 h-100 w-100" href="#">
                        <h4 class="text-center">Comunicación y colaboración</h4>
                        <p class="small pt-2">Colaborar a través de las tecnologías digitales.</p>
                        <div class="go-corner2" href="#">
                            <div class="go-arrow2">
                                →
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a class="card2 h-100 w-100" href="#">
                        <h4 class="text-center">Comunicación y colaboración</h4>
                        <p class="small pt-2">Comportamiento en la red.</p>
                        <div class="go-corner2" href="#">
                            <div class="go-arrow2">
                                →
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a class="card2 h-100 w-100" href="#">
                        <h4 class="text-center">Comunicación y colaboración</h4>
                        <p class="small pt-2">Gestión de la identidad digital.</p>
                        <div class="go-corner2" href="#">
                            <div class="go-arrow2">
                                →
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>


    </section>

{% endblock %}