{% load static %}

<header class="section page-header">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-white shadow-sm">
        <div class="container">
            <!-- Logo -->
            <a class="navbar-brand" href="{% url 'index' %}">
                <img src="{% static 'images/logo_uncu23.png' %}" alt="Logo" class="logo-uncuyo">
            </a>

            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="text-uppercase nav-link dark-link ms-2" href="{% url 'menu_activities' %}" aria-current="page">Competencias</a>
                    </li>
                        <li class="nav-item">
                        <a class="text-uppercase nav-link dark-link ms-2" href="{% url 'logout' %}" aria-current="page">Logout</a>
                        </li>
                    {% else %}
                    <li class="nav-item">
                        <a class=" text-uppercase nav-link dark-link ms-2" href="{% url 'login' %}">Iniciar Sesión</a>
                    </li>
                    <li class="nav-item">
                        <a class="text-uppercase nav-link dark-link ms-2" href="{% url 'signup' %}">Regístrate</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>