{% load static %}
 <section class="section section-sm section-first bg-default text-md-left ">
        <div class="container">
            <div class="row row-50 align-items-center justify-content-between justify-content-xl-between">
                <div class="col-lg-6 wow">
                    <div class="container">
                        <h4 class="text-uppercase my-3 text-center">¿Por qué es importante esta competencia
                            digital?</h4>
                        <p class="mt-4 text-justify">Esta habilidad implica proteger dispositivos, proteger la privacidad y los datos personales, proteger la salud y el bienestar, proteger el entorno.</p>
                    </div>
                </div>
                <div class="col-lg-6 text-center wow fadeInUp"><img
                        src="{% static 'images/UNCUYO-INSIGNIA-DigComp_area-5.png' %}" alt="" width="300"/>
                </div>
            </div>
        </div>
    </section>